.img_car{
  width: 10vw;
  height: auto;
}

.img_car_big{
  width: 15vw;
  height: auto;
}

.button {
  background-color: #2f7031;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:1.5vw;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #2f7031;
  color: white; 
}

.button1:hover {
  background-color: #3d8640;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
  font-size:1.5vw;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2f7031;
  color: white;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: large;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  font-size: large;
  display: inline-block;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-80 {
  float: left;
  width: 80%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-20, .col-80, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}

.header{
  padding-bottom: 8px;
}

html, 
body{
  height: 99%;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}

.footer{
  padding-bottom: 8px;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
  color: #2f7031;
  font-family: Helvetica, Arial, sans-serif;
}
